/* body {
  margin: 0;
  padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 234, 234) !important;
} */
a {
  color: #f2f2f2;
}
a:hover {
  color: #2190ae;
  text-decoration: none;
  background-color: transparent;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

/* **************************************** */
/* Home page  */
.home-page {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.home2 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.h1-home-page {
  color: #fff;
  font-size: 4rem;
}

.home-page-img {
  width: 70px;
  height: 70px;
  margin-right: 12px;
}
.btn-outline-light {
  padding: 0.4rem 1.7rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.app-container {
  margin-top: 6rem;
}

/* Home page end */

/* **************************************** */
/* NavBar  */
.navbar a:hover {
  border-color: #fff;
  opacity: 0.7;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-brand {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 22px;
  font-size: 1.3rem;
}
.username-nav .nav-link {
  padding: 14px 5px !important;
  font-size: 1rem !important;
}

.username-nav .nav-link:hover {
  background: none !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-brand:hover {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  );
}

.navbar-brand:hover {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.navbar-dark .navbar-nav .active,
.navbar-brand.active {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}
.navbar.bg-dark {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

img.logo-img {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.btn-outline-info,
.btn-outline-success {
  color: #fff;
  border-color: #fff;
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%) !important;
  margin-right: 12px;
}

.btn-outline-info:hover {
  color: #fff;
  /* border-color: #fff; */
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  opacity: 0.7;
}
.avater-img {
  display: flex;
  align-items: center;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar-nav .dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar-nav .dropdown-menu .fas {
  margin-right: 20px;
}
.navbar-nav .dropdown-menu .fa-users,
.navbar-nav .dropdown-menu .fa-cogs {
  margin-right: 15px;
}

.settings-card-nav {
  width: 13rem;
}
.settings-card-nav .card-header {
  background-color: #545454;
  color: #dcddde;
  font-size: 1rem;
  font-weight: 600;
}
.settings-card-nav .card-header .fas {
  margin-right: 10px;
  font-size: 1.3rem;
}
.settings-card-nav .list-group .list-group-item {
  color: rgba(0, 0, 0, 0.95);
}
.settings-card-nav .list-group .list-group-item:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}
.settings-card-nav .list-group .list-group-item.active {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  color: rgba(0, 0, 0, 0.95);
  border: 0;
}

.btn-event-delete {
  margin-left: 5px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.4rem 1rem;
}

@media screen and (max-width: 768px) {
  .btn-outline-info:hover {
    background-color: rgb(24, 42, 115);
  }

  .btn-event-view {
    font-size: 0.8rem;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .event-form-btn .event-button {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
  }
}

/* end NavBar */

/* **************************************** */
/* Card */
.card {
  margin: 1rem 0 !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 5px 5px 5px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  background-color: #fff;
  margin: 1rem 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title-host {
  margin-left: 16px;
  text-decoration: none;
}

.card-title-host .title-card {
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
}

.card-title-host p {
  font-size: 0.84rem;
}

.card-title-host .hosted-card {
  color: #157efb;
}

.card-title-host .title-card:hover,
.card-title-host .hosted-card:hover {
  text-decoration: none;
  color: #17a2b8;
}

.card-footer {
  background-color: #fff;
}

.card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.text-center .card-header {
  text-align: left !important;
}

.car-body.card-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
  opacity: 0.7;
}

.list-group-flush .list-group-item .date {
  margin-right: 10px;
  margin-left: 5px;
}
.list-group-flush .list-group-item .event-venue-icon {
  margin-left: 10px;
}

.list-group-flush .list-group-item .attendee-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.event-list-attendee {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
}
/* end Card */

/* **************************************** */
/* Event Form */
.card-form {
  padding: 15px;
}
.form-label {
  font-size: 0.92857143em;
  font-weight: 600;
}

::placeholder {
  color: #c7c7c7 !important;
  font-size: 0.9rem;
}
.css-1wa3eu0-placeholder{
  color: #c7c7c7 !important;
font-size: 0.9rem;

}

.btn-submit {
  background-color: #16ab39;
}

.btn-cancel {
  background-color: #e0e1e2;
  border-color: #e0e1e2;
  color: #000;
  font-weight: 500;
  margin-left: 7px;
}

.btn-cancel:hover {
  background-color: #e0e1e2;
  border-color: #e0e1e2;
  color: #000;
}
.card-form .card-header {
  padding-left: 0;
  padding-bottom: 0.25rem;
  font-size: 0.89rem;
  font-weight: 600;
  color: #009c95;
}

.touched-error-validate{  
  border:1px, solid red;
  color: red;
}

.react-datepicker__input-container .react-datepicker-ignore-onclickoutside, 
.react-datepicker-wrapper .react-datepicker__input-container input{
  padding:0.4rem  25.3rem 0.4rem 0.4rem !important;
}

/* end Event Form */

/* **************************************** */
/* event detailed */
.manage-event-btn {
  background-color: #f2711c !important;

  border-color: #f2711c !important ;
}
.cancle-my-place-btn {
  background: #e0e1e2 none !important;
  color: rgba(0, 0, 0, 0.6) !important;
  border-color: #e0e1e2 !important ;
}

.event-detailed-info-card .col-sm-1,
.event-detailed-info-card .col-sm-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-detailed-info-card .col-sm-8,
.event-detailed-info-card .col-sm-11 {
  display: flex;
  align-items: center;
}

.event-detailed-info-card .fas {
  color: #00b5ad !important;
  font-size: 1.35rem;
}

.event-detailed-info-card p {
  font-size: 0.85rem;
}

.event-sidebar-header {
  text-align: center;
  background-color: #00b5ad !important;
  color: #fff !important;
}

.attendee-sidebar-name {
  color: #000;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

.corner-ribbon {
  z-index: 100;
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Ribbon start */

/* common */
.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #f2711c;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 70px;
  padding: 4px 12px 6px 18px;
  background-color: #f2711c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 0.86rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: 15px;
  right: -47px;
}

.ribbon span:after {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #f2711c transparent transparent transparent;
  bottom: -1rem;
}
.ribbon span:after {
  right: 0;
  border-width: 1rem 1rem 0 0;
}
/* Ribbon end*/

/* end event detailed */

/* **************************************** */
/* Event Detail Chat */
.event-chat-card .event-chat-header {
  text-align: center;
  background-color: #00b5ad !important;
  color: #fff !important;
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.event-chat-card .event-chat-list-group .list-group-item {
  border: 0 !important;
}

.event-chat-list-textarea {
  padding-bottom: 0 !important;
}

.event-chat-card .event-chat-list-group .btn-reply {
  padding-top: 0 !important;
}
.event-chat-card .event-chat-list-group .event-chat-img {
  width: 40px;
  height: 38px;
  margin-top: 7px;
}

.event-chat-card .event-chat-list-group .event-chat-body {
  padding: 0 0 0.5rem 0.1rem !important;
}

.event-chat-card .event-chat-body .card-title {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 700;
  font-size: 0.91rem;
  color: rgba(0, 0, 0, 0.7);
}

.event-chat-card .event-chat-body .card-title:hover {
  color: #1e719f;
}

.event-chat-card .event-chat-body .card-text {
  margin: 0.1rem 0 0.12rem 0;
  font-size: 0.87rem;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
}
.event-chat-card .event-chat-body .event-chat-date {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  margin-left: 0.34rem;
}

.event-chat-card .event-chat-body .card-link {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-size: 0.84rem;
}
.event-chat-card .event-chat-body .card-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.event-chat-card .event-chat-group-item {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.event-chat-card .btn-reply .btn {
  background-color: #2185d0;
  color: #fff;
  border: none;
  padding: 0.3rem 0.8rem 0.6rem 0.8rem !important;
  font-size: 0.93rem;
  font-weight: 600;
}

.event-chat-card .btn-reply .btn .fa-edit {
  /* margin-right: 0.5rem; */
  padding: 0.3rem 0.8rem 0.3rem 0.2rem;
  font-size: 1.03rem;
}

/* Event Detail Chat end */
