body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 234, 234) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-page {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.home2 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.h1-home-page {
  color: #fff;
  font-size: 4rem;
}

.home-page-img {
  width: 70px;
  height: 70px;
  margin-right: 12px;
}
.btn-outline-light {
  padding: 0.4rem 1.7rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.app-container {
  margin-top: 6rem;
}

/* NavBar  */
.navbar a:hover {
  border-color: #fff;
  opacity: 0.7;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-brand {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 22px;
  font-size: 1.3rem;
}
.username-nav .nav-link {
  padding: 14px 5px !important;
  font-size: 1rem !important;
}

.username-nav .nav-link:hover {
  background: none !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-brand:hover {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  );
}

.navbar-brand:hover {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.navbar-dark .navbar-nav .active,
.navbar-brand.active {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}
.navbar.bg-dark {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

img.logo-img {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.btn-outline-info,
.btn-outline-success {
  color: #fff;
  border-color: #fff;
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%) !important;
  margin-right: 12px;
}

.btn-outline-info:hover {
  color: #fff;
  /* border-color: #fff; */
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  opacity: 0.7;
}
.avater-img {
  display: flex;
  align-items: center;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar-nav .dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar-nav .dropdown-menu .fas {
  margin-right: 20px;
}
.navbar-nav .dropdown-menu .fa-users,
.navbar-nav .dropdown-menu .fa-cogs {
  margin-right: 15px;
}

.settings-card-nav {
  width: 13rem;
}
.settings-card-nav .card-header {
  background-color: #545454 ;
  color: #dcddde;
  font-size: 1rem;
  font-weight: 600;
}
.settings-card-nav .card-header .fas {
 margin-right: 10px; 
 font-size: 1.3rem;
}
.settings-card-nav .list-group .list-group-item {
  color: rgba(0, 0, 0, 0.95);

}
.settings-card-nav .list-group .list-group-item:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);


}
.settings-card-nav .list-group .list-group-item.active {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius:0;
  color: rgba(0, 0, 0, 0.95);
  border: 0;


}


.btn-event-delete {
  margin-left: 5px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.4rem 1rem;
}

@media screen and (max-width: 768px) {
  .btn-outline-info:hover {
    background-color: rgb(24, 42, 115);
  }

  .btn-event-view {
    font-size: 0.8rem;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .event-form-btn .event-button {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
  }
}

/* end NavBar */

/* Card */
.card {
  margin: 1rem 0 !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 5px 5px 5px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  background-color: #fff;
  margin: 1rem 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title-host {
  margin-left: 16px;
  text-decoration: none;
}

.card-title-host .title-card {
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
}

.card-title-host p {
  font-size: 0.84rem;
}

.card-title-host .hosted-card {
  color: #157efb;
}

.card-title-host .title-card:hover,
.card-title-host .hosted-card:hover {
  text-decoration: none;
  color: #17a2b8;
}

.card-footer {
  background-color: #fff;
}

.card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.text-center .card-header {
  text-align: left !important;
}

.car-body.card-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
  opacity: 0.7;
}

.list-group-flush .list-group-item .date {
  margin-right: 10px;
  margin-left: 5px;
}

.list-group-flush .list-group-item .fa-map-marker {
  margin-left: 10px;
}

.list-group-flush .list-group-item .attendee-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.event-list-attendee {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
}
/* end Card */

/* Event Form */
.card-form {
  padding: 15px;
}
.form-label {
  font-size: 0.92857143em;
  font-weight: 600;
}

::placeholder {
  color: #c7c7c7 !important;
  font-size: 0.9rem;
}

.btn-submit {
  background-color: #16ab39;
}

.btn-cancel {
  background-color: #e0e1e2;
  border-color: #e0e1e2;
  color: #000;
  font-weight: 500;
  margin-left: 7px;
}

.btn-cancel:hover {
  background-color: #e0e1e2;
  border-color: #e0e1e2;
  color: #000;
}
/* end Event Form */
